# Django configurations
SECRET_KEY=<Your Django Secret Key>
DEBUG=<True or False>
# Allowed hosts
ALLOWED_HOSTS=<Your Allowed Hosts>
# Database configurations
DB_NAME=<Your Database Name>
DB_USER=<Your Database User>
DB_PASSWORD=<Your Database Password>
DB_HOST=<Your Database Host>
DB_PORT=<Your Database Port>

# Other configurations
HOST_URL=<Your Host URL>
