Django==4.2.4
asgiref==3.7.2 #
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
django-cors-headers==4.2.0
# PostgreSQL adapter 
psycopg2>=2.9,<3.0
# Environment variables
python-dotenv>=1.0,<2.0
# Timezone support
pytz>=2023,<2024
# SQL parsing utility
sqlparse>=0.4,<0.5

             
